/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'mpieva/postprocessing'
    author           = 'Merlin Szymanski'
    homePage         = 'https://github.com/mpieva/postprocessing/'
    description      = 'Basic Post-Processing of Hominin shotgun/capture libraries'
    nextflowVersion  = '>=22.10'
    version          = 'v0.7'
}

cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp"
  cacheDir   = '/mnt/scratch/singularity'
}

params {

    //basic_settings
    help           = false // display help-text and exit

    //user input files
    bam            = ""      // multiplexed BAM file, containing merged reads
    rg             = ""      // readgroup index information
    split          = ""      // folder with already splitted files (BAM, FASTQ)
    paired         = false   // not yet possible, analyzeBAM_CPP has it...

    // for the file-paths
    reference_file  = ""     // thats the path to the file used for mapping, is also inferred from the BAM-header and used for double-checking               
    reference_name  = ""     // thats the short-name used for the file-system
    target_file     = ""     // BED-file for on-target calculation
    target_name     = ""     // the name of the target/panel for the file-system storage

    //for analyzeBAM
    bamfilter_minlength       = 35              // analyzeBAM_cpp 'min_len' flag. filter out reads shorter < 35bp
    bamfilter_minqual         = 25              // analyzeBAM_cpp 'min_qual' flag. Filter out mapped reads with qualityscore < 25
    bamfilter_keep_vendorfail = false           // analyzeBAM_cpp 'count_f' flag. Dont filter reads in bamfile that have the "vendor failed" flag set
    bamrmdup_cheap            = false
    bamrmdup_circular         = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 24.h
}

includeConfig "conf/profiles.config"
includeConfig "conf/process.config"
includeConfig "conf/settings.config"
