/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  mpieva/reluctant Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'mpieva/postprocessing'
    author           = 'Merlin Szymanski'
    homePage         = 'https://vcs.eva.mpg.de/git_bioinformatics/reluctant'
    description      = 'Very basic postprocessing of sequenced bone/tooth material'
    nextflowVersion  = '>=22.10'
    version          = 'v0.0'
}

//cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp"
  cacheDir   = '/mnt/scratch/singularity'
}

params {

    //basic_settings
    help           = false // display help-text and exit

    //user input
    bam            = ""   // multiplexed BAM file, containing merged reads
    rg             = ""   // readgroup index information
    split          = ""   // alternative input: folder with already splitted files (BAM, FASTQ)

    //process settings
    doublestranded            = false // report damage patterns as observed in double-stranded libraries.
    bamfilterflag             = 1     // 1=filter paired, 4=filter unmapped
    bamfilter_length_cutoff   = 35    // filter out reads shorter < 35bp
    mapbwa_quality_cutoff     = 25    // filter out mapped reads with qualityscore < 25

    compression_level         = 0    // bgzf compression level for intermediate files, 0..9

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 24.h
}

includeConfig "conf/process.config"
includeConfig "conf/settings.config"