/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  mpieva/reluctant Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'mpieva/postprocessing'
    author           = 'Merlin Szymanski'
    homePage         = 'https://vcs.eva.mpg.de/merlin_szymanski/reluctant'
    description      = 'Basic Processing of Shotgun-Sequenced Ancient Hominin Material'
    nextflowVersion  = '>=22.10'
    version          = 'v0.3-WIP'
}

//cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp"
  cacheDir   = '/mnt/scratch/singularity'
}

params {

    //basic_settings
    help           = false // display help-text and exit

    //user input files
    bam            = ""   // multiplexed BAM file, containing merged reads
    rg             = ""   // readgroup index information
    split          = ""   // alternative input: folder with already splitted files (BAM, FASTQ)

    //general input settings
    paired = false // not yet possible, analyzeBAM_CPP has it...

    //for analyzeBAM
    bamfilter_minlength       = 35              // analyzeBAM_spp 'min_len' flag. filter out reads shorter < 35bp
    bamfilter_minqual         = 25              // analyzeBAM_spp 'min_qual' flag. Filter out mapped reads with qualityscore < 25
    bamfilter_targetfile      = ""              // analyzeBAM_cpp 'targetfile' flag
    bamfilter_keep_vendorfail = false           // analyzeBAM_spp 'count_f' flag. Dont filter reads in bamfile that have the "vendor failed" flag set
    bamrmdup_cheap            = false
    bamrmdup_circular         = false

    compression_level         = 0    // bgzf compression level for intermediate files, 0..9

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 24.h
}

includeConfig "conf/process.config"
includeConfig "conf/settings.config"