def outdir = "reluctant_${manifest.version}"

process {

    //
    // Workflow: Splitbam
    //

    if(params.bam){
        withName: "SPLITBAM" {
            publishDir = [
                path:"split",
                mode:"copy",
                pattern:"*.{bam,txt}"
            ]
        }
    }
    withName: "ESTIMATE_CC" {
        publishDir = [
            path:"${outdir}",
            mode:"copy",
            pattern:"*.{txt}" ]
    }

    withName: "INDEX_STATS" {
        publishDir = [
            path:"${outdir}",
            mode:"copy",
            pattern:"*.{txt}" ]
    }

    //
    // Workflow: Bamfilter
    //

    withName: "ANALYZE_BAM" {
        publishDir = [
            path:"${outdir}/AnalyzeBAM_L35MQ25",
            mode:"copy",
            pattern:"*.bam" ]
    }

    //
    // workflow: Substitutions
    //

    withName: "substitutions:GET_PATTERNS" {
        publishDir = [
            path:"${outdir}/Substitution_patterns_L35MQ25",
            mode:"copy",
            pattern:"*.pdf" ]
    }

    //
    // workflow: Conditional Substitutions
    //

    withName: "FILTER_BAM_DEAM3" {
        publishDir = [
            path:"${outdir}/Conditional_substitutions_L35MQ25",
            mode:"copy",
            pattern:"*.bam" ]
        ext.args = "-p3 0 -suffix deam3"
    }

    withName: "FILTER_BAM_DEAM5" {
        publishDir = [
            path:"${outdir}/Conditional_substitutions_L35MQ25",
            mode:"copy",
            pattern:"*.bam" ]
        ext.args = "-p5 0 -suffix deam5"
    }

    withName: "cond_substitutions:GET_PATTERNS" {
        publishDir = [
            path:"${outdir}/Conditional_substitutions_L35MQ25",
            mode:"copy",
            pattern:"*.pdf" ]
    }

    //
    // 05 Deaminated Reads only
    //

    withName: "FILTER_BAM" {
        publishDir = [
            path:"${outdir}/FilterBAM_L35MQ25_3termini",
            mode:"copy",
            pattern:"*.bam" ]
        ext.args = "-p3 0,-1,-2 -p5 0,1,2 -suffix deam3_or_5"
    }

}