def outdir = "reluctant_${manifest.version}"

process {

    //
    // Workflow: Splitbam
    //

    if(params.bam){
        withName: "SPLITBAM" {
            publishDir = [
                path:"split",
                mode:"copy",
                pattern:"*.{bam,txt}"
            ]
        }
    }
    withName: "ESTIMATE_CC" {
        publishDir = [
            path:"${outdir}",
            mode:"copy",
            pattern:"*.{txt}" ]
    }

    withName: "INDEX_STATS" {
        publishDir = [
            path:"${outdir}",
            mode:"copy",
            pattern:"*.{txt}" ]
    }

    //
    // Workflow: Bamfilter
    //

    withName: "ANALYZE_BAM" {
        publishDir = [
            path:"${outdir}/AnalyzeBAM_L35MQ25",
            mode:"copy",
            pattern:"*.bam" ]
    }

    //
    // workflow: Substitutions
    //

    withName: "GET_PATTERNS" {
        publishDir = [
            path:"${outdir}/Substitution_patterns_L35MQ25",
            mode:"copy",
            pattern:"*.pdf" ]
    }
}