profiles {
    debug{
        cleanup = false
    }
    shotgun {
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/whole_genome.fa"
        params.reference_name = "hg19_evan"
        params.target_name = "shotgun"
        params.target_file = false
    }
    AA108_AA115_archaicAdmixture {
        // Reference: Fu et al, 2015 (An early modern human from Romania with a recent Neanderthal ancestor), Panel 4
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/whole_genome.fa"
        params.reference_name = "hg19_evan"
        params.target_name = "AA108_AA115_archaicAdmixture"
        params.target_file = "/home/public/AncientDNA/probe_designs/AA108-115_archaic_admixture/Archaic.align.noN.sorted.bed"
    }
    AA213_1240k {
        // Reference: Fu et al, 2015 (An early modern human from Romania with a recent Neanderthal ancestor), Panel 1+2
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/whole_genome.fa"
        params.reference_name = "hg19_evan"
        params.target_name = "AA213_1240k"
        params.target_file = "/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed"
        //
        // Comments Mateja:
        // There's been a kick out of some of the sites over time since the original 2015 publication, original arrays were called 390k (panel 1) 
        // and 390k_supplement (panel2). The sites were merged for popgen and kept separate from the big Yoruba (panel 3) and archaic admixture (panel 4) 
        // and called 1240k. Then they were merged also physically in the lab to form one array - primarily in Boston and Jena. 
        // Over time some sites were kicked out from the bed file compared to the original 390k+390k supplement (AA87-88_AA116-119), 
        // my understanding for this was that for whatever reason some sites were never successful in being captured in the lab (both Boston and Jena). 
        // That's how the current "original 1240k" bed/AADR sites/"1240k" was born. So should be the 390k+390k supplement, but in reality it's a bit smaller
        //
    }
    Twist_1240k {
        // Reference: Roland et al, 2022 (Three assays for in-solution enrichment of ancient human DNA at more than a million SNP)
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/whole_genome.fa"
        params.reference_name = "hg19_evan"
        params.target_name = "Twist_1240k"
        params.target_file = "/home/public/AncientDNA/probe_designs/TW1_Reich_Panel/gs01.target_positions_hg19.bed"
    }
    AA163_humanMT {
        // Reference: ?
        params.bamrmdup_circular '"gi|251831106|ref|NC_012920.1|":16565'
        params.reference_file = "/mnt/solexa/Genomes/human_MT/whole_genome.fa"
        params.reference_name = "human_MT"
        params.target_name = "AA163"
    }
}
