profiles {
    shotgun {
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/"
        params.reference_name = "hg19_evan"
        params.target_name = "shotgun"
        params.target_file = false
    }
    archaicAdmixture {
        params.reference_file = "/mnt/solexa/Genomes/hg19_evan/"
        params.reference_name = "hg19_evan"
        params.target_name = "archaicAdmixture"
        params.target_file = "/mnt/diversity/arev_suemer/kozja/AA/archaicadmixture.bed"
    }
}